In [3]:
def get_tuple():
    return (404, "error")

In [6]:
#tuple拆解法

(code, message) = get_tuple()
print(code, message)

404 error

In [7]:
# 1個元素的 tuple
(404,)

(404,)

In [8]:
list()

[]

In [9]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(('a','b','c', 1, 2, 3))

['a', 'b', 'c', 1, 2, 3]

In [11]:
# 符號建立
stu1 = [78, 98, 56, 74, 79]
stu1

[78, 98, 56, 74, 79]

In [12]:
for score in stu1:
    print(score)

78
98
56
74
79

In [15]:
empty_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
first_names = ['Graham', 'John', 'Terry','Terry', 'Michael']

In [17]:
first_names[5]

IndexError: list index out of range

In [18]:
type(first_names)

list

In [19]:
len(first_names)

5

In [20]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']

In [23]:
first_names.insert(0, "Hsu")
first_names

['Hsu', 'Hsu', 'Hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']

In [24]:
# 字串也是 iterible
for word in "HelloWorld":
    print(word)

H
e
l
l
o
W
o
r
l
d

In [25]:
words = list("HelloWorld")
words

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [27]:
# slice 切割
words[0:5]

['H', 'e', 'l', 'l', 'o']

In [28]:
words[-5:-1]

['W', 'o', 'r', 'l']

In [29]:
# 抓前5個
words[-5:]

['W', 'o', 'r', 'l', 'd']

In [30]:
# 抓後5個
words[:5]

['H', 'e', 'l', 'l', 'o']